/**
 * Components
 */
@import "components/blog/container";
@import "components/blog/list";
@import "components/blog/avatar";
@import "components/blog/archive";
@import "components/blog/badge";
@import "components/blog/icons";
@import "components/blog/image";
@import "components/blog/linklist";
@import "components/blog/pagination";
@import "components/blog/taglist";
@import "components/blog/widget";
@import "components/blog/widgetlist";

@import "components/post/author";
@import "components/post/comment";
@import "components/post/list";
@import "components/post/teaser";
@import "components/post/metagroup";


/**
 * Misc
 */
.alert__title {
    font-weight: bold;
}
.alert__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
