<div class="bloglist__item bloglist__item--author" data-blog-author="{author.uid}">
    <div class="bloglist__image">
        <f:variable name="avatarsize" value="{settings.authors.avatar.provider.size as integer}" />
        <f:if condition="{avatarsize}"><f:else><f:variable name="avatarsize" value="32" /></f:else></f:if>
        <img loading="lazy" class="bloglist__imageavatar blogavatar" height="{avatarsize}" width="{avatarsize}" src="{blogvh:uri.avatar(author: author, size: avatarsize)}" itemprop="image">
    </div>
    <h2 class="bloglist__title" itemprop="name">
        <blogvh:link.author author="{author}" />
    </h2>
    <f:if condition="{author.bio}">
        <p class="bloglist__description" itemprop="description">
            <f:format.crop maxCharacters="200" append="&nbsp;[...]">{author.bio}</f:format.crop>
        </p>
    </f:if>
    <blogvh:link.author class="bloglist__link" author="{author}">
        <f:translate key="list.show.author" />
    </blogvh:link.author>
</div>
