<div class="bloglist__item bloglist__item--tag" data-blog-tag="{tag.uid}">
    <h2 class="bloglist__title" itemprop="name">
        <blogvh:link.tag tag="{tag}" />
    </h2>
    <f:if condition="{tag.description}">
        <p class="bloglist__description" itemprop="description">
            <f:format.crop maxCharacters="200" append="&nbsp;[...]">{tag.description}</f:format.crop>
        </p>
    </f:if>
    <blogvh:link.tag class="bloglist__link" tag="{tag}">
        <f:translate key="list.show.tag" />
    </blogvh:link.tag>
</div>
