/**
 * Widget
 */
.blogwidget {
    margin-bottom: 1.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}
.blogwidget__content {
    overflow: hidden;
    > *:last-child {
        margin-bottom: 0;
    }
}
