# PHPStorm
.idea

# OSX
.DS_Store

# Composer
vendor/
bin/
logs/
composer.lock

# Build stuff
.build/
.ddev/**/*.example
.ddev/**/*.txt
.ddev/commands/
Build/.phpunit.result.cache
Documentation-*
config/
node_modules/
var/

# Cache
.php_cs.cache
.phplint.cache
