/**
 * Components
 */
@import "components/author";
@import "components/comment";
@import "components/widget";

/**
 * Misc
 */
.alert__title {
    font-weight: bold;
}
.alert__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
