/**
 * Components
 */
@import "components/author";
@import "components/badge";
@import "components/icons";
@import "components/comment";
@import "components/pagination";
@import "components/widget";
@import "components/widgetlist";

/**
 * Misc
 */
.alert__title {
    font-weight: bold;
}
.alert__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
