<f:layout name="Default" />
<f:section name="Main">

    <div class="container">
        <div class="blogcontainer">
            <main class="blogcontainer-main">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{
                        colPos: '0'
                    }" />
            </main>
            <aside class="blogcontainer-sidebar">
                <f:cObject typoscriptObjectPath="tt_content.list" data="{
                        uid: '-blog-sidebar',
                        list_type: 'blog_sidebar',
                        CType: 'list',
                        layout: '0',
                        frame_class: 'default'
                    }" table="tt_content"/>
            </aside>
        </div>
    </div>

</f:section>
