<f:layout name="Default" />
<f:section name="Main">

    <div class="container">
        <div class="blogcontainer">
            <main class="blogcontainer-main">
                <f:render section="renderPlugin" arguments="{listType: 'blog_header'}" />
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
                <f:render section="renderPlugin" arguments="{listType: 'blog_footer'}" />
                <f:render section="renderPlugin" arguments="{listType: 'blog_authors'}" />
                <f:render section="renderPlugin" arguments="{listType: 'blog_comments'}" />
                <f:render section="renderPlugin" arguments="{listType: 'blog_commentform'}" />
                <f:render section="renderPlugin" arguments="{listType: 'blog_relatedposts'}" />
            </main>
            <aside class="blogcontainer-sidebar">
                <f:render section="renderPlugin" arguments="{listType: 'blog_sidebar'}" />
            </aside>
        </div>
    </div>

</f:section>
<f:section name="renderPlugin">

    {blogvh:data.contentListOptions(listType: listType)}
    <f:cObject typoscriptObjectPath="tt_content.list" data="{contentObjectData}" table="tt_content"/>

</f:section>
