<f:layout name="Default" />
<f:section name="Main">

    <div class="container">
        <div class="blog-container">
            <main class="blog-main">
                <f:cObject typoscriptObjectPath="tt_content.list" data="{
                        uid: '-blog-header',
                        list_type: 'blog_header'
                    }" table="tt_content"/>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
                <f:cObject typoscriptObjectPath="tt_content.list" data="{
                        uid: '-blog-footer',
                        list_type: 'blog_footer'
                    }" table="tt_content"/>
                <f:cObject typoscriptObjectPath="tt_content.list" data="{
                        uid: '-blog-authors',
                        list_type: 'blog_authors'
                    }" table="tt_content"/>
                <f:cObject typoscriptObjectPath="tt_content.list" data="{
                        uid: '-blog-comments',
                        list_type: 'blog_comments'
                    }" table="tt_content"/>
                <f:cObject typoscriptObjectPath="tt_content.list" data="{
                        uid: '-blog-commentform',
                        list_type: 'blog_commentform'
                    }" table="tt_content"/>
                <f:cObject typoscriptObjectPath="tt_content.list" data="{
                        uid: '-blog-relatedposts',
                        list_type: 'blog_relatedposts'
                    }" table="tt_content"/>
            </main>
            <aside class="blog-sidebar">
                <f:cObject typoscriptObjectPath="tt_content.list" data="{
                        uid: '-blog-sidebar',
                        list_type: 'blog_sidebar'
                    }" table="tt_content"/>
            </aside>
        </div>
    </div>

</f:section>
