<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{data.doktype} == 137">
        <f:cObject typoscriptObjectPath="tt_content.list.20.blog_header" />
    </f:if>
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
    <f:if condition="{data.doktype} == 137">
        <f:cObject typoscriptObjectPath="tt_content.list.20.blog_footer" />
        <f:cObject typoscriptObjectPath="tt_content.list.20.blog_authors" />
        <f:cObject typoscriptObjectPath="tt_content.list.20.blog_comments" />
        <f:cObject typoscriptObjectPath="tt_content.list.20.blog_commentform" />
        <f:cObject typoscriptObjectPath="tt_content.list.20.blog_relatedposts" />
    </f:if>
    <f:cObject typoscriptObjectPath="tt_content.list.20.blog_sidebar" />

</f:section>
