<f:layout name="Default" />
<f:section name="Content">
    <f:if condition="{author}">
        <f:then>
            <h1 class="page__title">
                <span class="page__titletext"><f:translate key="headline.author" arguments="{0: author.name}" /></span>
                <blogvh:link.author class="page__titlelink" rss="true" author="{author}">
                    <span class="blogicon"><f:render partial="General/SocialIcons" section="Rss" optional="true" /></span>
                </blogvh:link.author>
            </h1>
            <div class="taxonomy-description">
                <p>{author.bio}</p>
            </div>
            <div class="author__taglist">
                <f:for each="{author.allTags}" as="tag">
                    <blogvh:link.tag class="author__tag" tag="{tag}"/>
                </f:for>
            </div>
            <f:render partial="List" arguments="{_all}" />
        </f:then>
        <f:else>
            <h1 class="page__title">
                <span class="page__titletext"><f:translate key="headline.authors" /></span>
            </h1>
            <ul class="list-inline">
                <f:for each="{authors}" as="author">
                    <li><blogvh:link.author author="{author}" /></li>
                </f:for>
            </ul>
        </f:else>
    </f:if>
</f:section>
<f:section name="FooterAssets">
    <f:if condition="{settings.comments.disqus._typoScriptNodeValue} === '1'">
        <script id="dsq-count-scr" src="//{settings.comments.disqus.shortname}.disqus.com/count.js" async></script>
    </f:if>
</f:section>
