<f:layout name="Default" />
<f:section name="Content">
    <f:if condition="{tag}">
        <f:then>
            <h1 class="page-title">
                <span><f:translate key="headline.tag" arguments="{0: tag.title}" /></span>
                <blogvh:link.tag rss="true" tag="{tag}">
                    <span class="blogicon"><f:render partial="General/SocialIcons" section="Rss" optional="true" /></span>
                </blogvh:link.tag>
            </h1>
            <div class="taxonomy-description">
                <p>{tag.description}</p>
                <f:if condition="{tag.content}">
                    <f:cObject typoscriptObjectPath="lib.blog.contentElementRendering">{tag.contentElementUidList}</f:cObject>
                </f:if>
            </div>
            <f:render partial="List" arguments="{_all}" />
        </f:then>
        <f:else>
            <h1 class="page-title">
                <span><f:translate key="headline.tags" /></span>
            </h1>
            <ul class="list-inline">
                <f:for each="{tags}" as="tag">
                    <li><blogvh:link.tag tag="{tag}" /></li>
                </f:for>
            </ul>
        </f:else>
    </f:if>
</f:section>
<f:section name="FooterAssets">
    <f:if condition="{settings.comments.disqus._typoScriptNodeValue} === '1'">
        <script id="dsq-count-scr" src="//{settings.comments.disqus.shortname}.disqus.com/count.js" async></script>
    </f:if>
</f:section>
