<f:layout name="Default" />
<f:section name="Content">
    <f:if condition="{category}">
        <f:then>
            <h1 class="page-title">
                <span><f:translate key="headline.category" arguments="{0: category.title}" /></span>
                <blogvh:link.category rss="true" category="{category}">
                    <span class="blogicon"><f:render partial="General/SocialIcons" section="Rss" optional="true" /></span>
                </blogvh:link.category>
            </h1>
            <div class="taxonomy-description">
                <p>{category.description}</p>
                <f:if condition="{category.content}">
                    <f:cObject typoscriptObjectPath="lib.blog.contentElementRendering">{category.contentElementUidList}</f:cObject>
                </f:if>
            </div>
            <f:render partial="List" arguments="{_all}" />
        </f:then>
        <f:else>
            <h1 class="page-title">
                <span><f:translate key="headline.categories" /></span>
            </h1>
            <ul class="list-inline">
                <f:for each="{categories}" as="category">
                    <li><blogvh:link.category category="{category}" /></li>
                </f:for>
            </ul>
        </f:else>
    </f:if>
</f:section>
<f:section name="FooterAssets">
    <f:if condition="{settings.comments.disqus._typoScriptNodeValue} === '1'">
        <script id="dsq-count-scr" src="//{settings.comments.disqus.shortname}.disqus.com/count.js" async></script>
    </f:if>
</f:section>
