<f:layout name="Widget" />
<f:section name="Title"><f:translate key="headline.recentcomments" /></f:section>
<f:section name="Content">
    <ul class="blogwidgetlist blogwidgetlist--recentcomments">
        <f:for each="{comments}" as="comment">
            <li class="blogwidgetlist__item" data-blog-comment="{comment.uid}">
                <p class="blogwidgetlist__itemtext"><f:format.crop maxCharacters="100" append="&nbsp;[...]">{comment.comment}</f:format.crop></p>
                <span class="blogwidgetlist__itemauthor">{comment.name}</span>
                <span class="blogwidgetlist__itemauthoron"><f:translate key="widget.recentcomments.on" /></span>
                <blogvh:link.post class="blogwidgetlist__itemlink" post="{comment.post}" section="comment-{comment.uid}">
                    <span class="blogwidgetlist__itemtitle">{comment.post.title}</span>
                </blogvh:link.post>
            </li>
        </f:for>
    </ul>
</f:section>
