<f:be.infobox title="RealURL Setup">
    <p>The blog extension provides a configuration for <code>EXT:realurl</code>.</p>
    <p>To get nice looking URLs add the following realurl configuration to your project setup:</p>
    <code><pre>
    'fixedPostVars' => [
        '<strong>&lt;UID_CATEGORY_PAGE&gt;</strong>' => 'tx_blog_category',
        '<strong>&lt;UID_TAG_PAGE&gt;</strong>' => 'tx_blog_tag',
        '<strong>&lt;UID_ARCHIVE_PAGE&gt;</strong>' => 'tx_blog_archive'
    ]</pre></code>
</f:be.infobox>