/**
 * Intro
 */
.intro {
    margin-bottom: 1.5rem;
    h1 {
        margin-bottom: 0.5rem;
    }
    p {
        margin-bottom: 0;
    }
}

/**
 * Misc
 */
.input-group-addon {
    padding: 0 !important;
}
.table-fit {
    margin-top: 1rem;
}

/**
 * List Filter
 */
.list-filter {
    padding-left: 0;
    margin-top: 1.5rem;
    a,
    a:hover {
        color: var(--typo3-text-color-primary, #0060b8);
    }
    li {
        display: inline;
        list-style-type: none;

        &:after {
            content: " | ";
        }
        &:last-child:after {
            content: "";
        }
    }
}

/**
 * Datatable
 */
.dt-container {
    margin-top: 1.5rem;
}
.btn-group-actions {
    min-width: 126px;
}
table.table-comments .actions {
    white-space: nowrap;
}
.dt-length {
    padding-top: 5px;
    padding-left: 5px;
}
.dt-search {
    padding-top: 5px;
    padding-right: 5px;
}
