/**
 * Archive Header
 */
.blogarchiveheader {
    margin-bottom: 2.5rem;
}
.blogarchiveheader__title {
    margin-bottom: .5rem;
}
.blogarchiveheader__titletext {
    margin-right: 0.5rem;
}

/**
 * Archive Footer
 */
.blogarchivefooter {
    margin-top: 2.5rem;
}
