/**
 * List
 */
 .bloglist__item {
    margin-top: 1.5rem;
    &:first-of-type {
        margin-top: 0;
    }
}
.bloglist__image {
    margin-bottom: 1rem;
}
.bloglist__imageavatar {
    margin-left: auto;
    margin-right: auto;
}
.bloglist__description {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
