/**
 * Taglist
 */
.blogtaglist {
    padding: 0;
    margin: -.25rem!important;
    list-style: none;
}
.blogtaglist__item {
    display: inline-block;
    vertical-align: middle;
    margin: .25rem;
}
