
.input-group-addon {
    padding: 0 !important;
}

.tab-pane {
    padding: 2rem 0;
}

.table-fit {
    margin-top: 1rem;
}

table.table a {
    color: #e3612a;
}
table.table a:hover {
    color: #e36018;
}

.list-inline li:after {
    content: ", ";
}
.list-inline li:last-child:after {
    content: "";
}

.list-filter {
    padding-left: 0;
    margin-top: 1rem;
}
.list-filter li {
    display: inline;
    list-style-type: none;
}
.list-filter li:after {
    content: " | ";
}
.list-filter li:last-child:after {
    content: "";
}
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

.dataTables_length {
    padding-top: 5px;
    padding-left: 5px;
}
.dataTables_filter {
    padding-top: 5px;
    padding-right: 5px;
}
