<f:layout name="Backend" />
<f:section name="content">
    <h1><f:translate key="backend.headline" /></h1>
    <f:if condition="{f:count() -> blogSetups} > 0">
        <f:then>
            <p class="lead"><f:translate key="backend.lead.blogs" /></p>
            <table class="table">
                <tr>
                    <th><f:translate key="backend.table.blog" /></th>
                    <th><f:translate key="backend.table.articles" /></th>
                </tr>
                <f:for each="{blogSetups}" as="blog">
                    <tr>
                        <td>{blog.title}</td>
                        <td>{blog.articleCount}</td>
                    </tr>
                </f:for>
            </table>
            <f:render partial="Backend/CreateWizard" arguments="{_all}" />
            <f:render partial="Backend/RealUrlSetup" arguments="{_all}" />
        </f:then>
        <f:else>
            <p class="lead"><f:translate key="backend.lead.noblogs" /></p>
            <f:render partial="Backend/CreateWizard" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>