<f:layout name="{layout}" />
<f:section name="Intro">
    <h1><f:translate key="backend.headline.posts" /></h1>
    <p><f:translate key="backend.lead.posts" /></p>
</f:section>
<f:section name="Content">
    <f:flashMessages />
    <div class="intro">
        <f:render section="Intro" arguments="{_all}" />
    </div>
    <f:render partial="Backend/BlogFilter" arguments="{blogSetups: blogSetups, activeBlogSetup: activeBlogSetup, action: 'posts'}" />
    <f:if condition="{f:count() -> posts} > 0">
        <f:then>

            <table class="table table-striped table-hover dataTables" data-columns='[{"type": "string"}, {"type": "string"}, {"type": "string"}, {"type": "string"}, {"type": "string"}, {"type": "num"}]'>
                <thead>
                    <tr>
                        <th><f:translate key="backend.table.title" /></th>
                        <th data-filter="true"><f:translate key="backend.table.hidden" /></th>
                        <th data-filter="true"><f:translate key="backend.table.author" /></th>
                        <th data-filter="true"><f:translate key="backend.table.categories" /></th>
                        <th data-filter="true"><f:translate key="backend.table.tags" /></th>
                        <th><f:translate key="backend.table.date" /></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{posts}" as="post">
                        <tr>

                            <td class="nowrap" data-search="{post.title}" data-filter="{post.title}">
                                <blogvh:link.be.post post="{post}">
                                    <core:iconForRecord table="pages" row="{post.asArray}" />
                                    {post.title}
                                </blogvh:link.be.post>
                            </td>

                            <f:variable name="hiddenString" value="{f:if(condition: post.hidden, then: 'yes', else: 'no')}" />
                            <f:variable name="hiddenString" value="{f:translate(key: 'backend.table.hidden.{hiddenString}')}" />
                            <td class="nowrap" data-search="{hiddenString}" data-filter="{hiddenString}">
                                {hiddenString}
                            </td>

                            <f:variable name="authorString" value="" />
                            <f:if condition="{post.authors}">
                                <f:for each="{post.authors}" as="author" iteration="{iteration}">
                                    <f:variable name="authorString" value="{authorString}{author.name}" />
                                    <f:if condition="{iteration.isLast}">
                                        <f:else><f:variable name="authorString" value="{authorString}," /></f:else>
                                    </f:if>
                                </f:for>
                            </f:if>
                            <td class="nowrap" data-search="{authorString}" data-filter="{authorString}">
                                <f:for each="{post.authors}" as="author" iteration="iteration">
                                    <blogvh:link.be.author author="{author}" /><f:if condition="{iteration.isLast}"><f:else>, </f:else></f:if>
                                </f:for>
                            </td>

                            <f:variable name="categoryString" value="" />
                            <f:if condition="{post.categories}">
                                <f:for each="{post.categories}" as="category" iteration="{iteration}">
                                    <f:variable name="categoryString" value="{categoryString}{category.title}" />
                                    <f:if condition="{iteration.isLast}">
                                        <f:else><f:variable name="categoryString" value="{categoryString}, " /></f:else>
                                    </f:if>
                                </f:for>
                            </f:if>
                            <td data-search="{categoryString}" data-filter="{categoryString}">
                                <f:for each="{post.categories}" as="category" iteration="iteration">
                                    <blogvh:link.be.category category="{category}" class="badge badge-info" />
                                </f:for>
                            </td>

                            <f:variable name="tagString" value="" />
                            <f:if condition="{post.tags}">
                                <f:for each="{post.tags}" as="tag" iteration="{iteration}">
                                    <f:variable name="tagString" value="{tagString}{tag.title}" />
                                    <f:if condition="{iteration.isLast}">
                                        <f:else><f:variable name="tagString" value="{tagString}," /></f:else>
                                    </f:if>
                                </f:for>
                            </f:if>
                            <td data-search="{tagString}" data-filter="{tagString}">
                                <f:for each="{post.tags}" as="tag" iteration="iteration">
                                    <blogvh:link.be.tag tag="{tag}" class="badge badge-info" />
                                </f:for>
                            </td>

                            <td data-order="{f:format.date(format: 'U', date: post.publishDate)}">
                                <f:format.date format="d.m.Y">{post.publishDate}</f:format.date>
                            </td>

                        </tr>
                    </f:for>
                </tbody>
            </table>

        </f:then>
        <f:else>
            <f:be.infobox state="-1" title="{f:translate(key: 'backend.warning')}">
                <p><f:translate key="backend.message.noposts" /></p>
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>
