<div class="hidden">
  <span id="author">{postData.author}</span>
  <img src="/{postData.image}" id="posterImage">
</div>
<div class="preview-container">
  <textarea class="watch form-control" id="title" placeholder="Type here...">{postData.title}</textarea>
</div>
<div class="preview-container">
  <div class="row" id="basePanel" data-table="{postData.table}" data-uid="{postData.uid}">
    <div class="col-sm-12 col-md-6">
      <h3>Facebook / Twitter / Google Plus</h3>
      <div class="preview preview-facebook">
        <canvas id="preview-facebook" class="canvas" width="512" height="256"></canvas>
      </div>
      <hr />
      <a href="#" class="btn btn-default js-download-link-facebook"><i class="fa fa-download"></i> Download</a>
      <a href="#" class="btn btn-primary js-save-link-facebook"><i class="fa fa-floppy-o"></i> Save in record</a>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>LinkedIn</h3>
      <div class="preview preview-linkedin">
        <canvas id="preview-linkedin" class="canvas" width="350" height="250"></canvas>
      </div>
      <hr />
      <a href="#" class="btn btn-default js-download-link-linkedin"><i class="fa fa-download"></i> Download</a>
      <a href="#" class="btn btn-primary js-save-link-linkedin"><i class="fa fa-floppy-o"></i> Save in record</a>
    </div>
  </div>
  <div class="row" id="savePanelStep1" style="display: none;">
    <div class="col-xs-12">
      <h2>Image has been saved</h2>
      <p><a href="#" target="_blank" rel="noopener" class="t3js-file-link"><span class="t3js-filepath"></span></a></p>

      <h3>Should we connect the image to a field in this record?</h3>
      <p class="lead">Choose one of the following fields.</p>
      <ul class="t3js-list-of-fields"></ul>
    </div>
  </div>
</div>
