<f:spaceless>
    <article id="comment-{comment.uid}" class="postcomment" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
        <div class="postcomment__avatar">
            <blogvh:gravatar class="postcomment__avatarimage blogavatar" email="{comment.email}" />
        </div>
        <div class="postcomment__body">
            <div class="postcomment__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <f:render section="CommentUrl" arguments="{_all}" contentAs="content">{comment.name}</f:render>
            </div>
            <div class="postcomment__time">
                <time datetime="{comment.crdate -> f:format.date(format: '%Y-%m-%d')}" itemprop="dateCreated"><f:format.date format="{settings.comments.date.format}">{comment.crdate}</f:format.date></time>
            </div>
            <div class="postcomment__comment" itemprop="text">
                <blogvh:format.nl2p>{comment.comment}</blogvh:format.nl2p>
            </div>
        </div>
    </article>
    <f:section name="CommentUrl">
        <f:if condition="{comment.url} && {settings.comments.features.urls}">
            <f:then>
                <f:link.external uri="{comment.url}" target="_blank" rel="external nofollow"><span itemprop="name">{content}</span></f:link.external>
            </f:then>
            <f:else><span itemprop="name">{content}</span></f:else>
        </f:if>
    </f:section>
</f:spaceless>
