# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Put comments in separate lines!
#
# #####


# Attention:
#    LEAVE RIGHT SIDE EMPTY for a 'false' value like:
#       example_of_false_value =


[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'

project     = TYPO3 Blog Extension
version     = 8.7.4-dev
release     = 8.7.4-dev
t3author    = TYPO3 GmbH
copyright   = Copyright since 2016 by TYPO3 GmbH

description = The blog extension for TYPO3 provides a blog based on TYPO3s core features - pages and content element. Use all your
              favourite and well-known elements to create a full blown blog with ease.


# For a reference about this file see:
# https://github.com/marble/typo3-docs-typo3-org-resources/blob/master/userroot/scripts/bin/conf-2015-10.Reference.Settings.cfg
